<%= form_with(model: [@imaging, @condition], url: imaging_conditions_path(@imaging), method: :post, remote: true) do |f| %>
<%= render 'shared/error_messages', model: f.object %>

  <% @occupation.conditions.enhance.each do |ec| %>
    <div class="enhance-contrast">
      <h4><%= ec.enhance.name %></h4>
      <table>
        <thead>
          <tr>
            <th>CE</th>
            <th>方向</th>
            <th colspan="<%= ec.contrasts.length %>">撮影法</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="3">単純</td>
            <td>tra</td>
            <% ec.contrasts.each do |c| %>
              <td>
                <%= check_box_tag "condition[contrast_ids][]", c.id, false, id: "contrast-#{c.id}", class: "contrast-checkbox" %>
                <%= label_tag "contrast-#{c.id}", c.name %>
              </td>
            <% end %>
          </tr>
          <tr>
            <td>cor</td>
            <% ec.contrasts.each do |c| %>
              <td>
                <%= check_box_tag "condition[contrast_ids][]", c.id, false, id: "contrast-#{c.id}", class: "contrast-checkbox" %>
                <%= label_tag "contrast-#{c.id}", c.name %>
              </td>
            <% end %>
          </tr>
          <tr>
            <td>sag</td>
            <% ec.contrasts.each do |c| %>
              <td>
                <%= check_box_tag "condition[contrast_ids][]", c.id, false, id: "contrast-#{c.id}", class: "contrast-checkbox" %>
                <%= label_tag "contrast-#{c.id}", c.name %>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>

  <%= f.submit "登録", class: "btn btn-primary", id: "register-button", style: "display:none;" %>
<% end %>
