<%= form_with(url: imaging_path(@imaging, occupation_id: @occupation.id), method: :get) do |form| %>
  <div class="headline">信号値から探す</div>

  <div class="signal">
    <div>
      <div class = "signal-headline">高信号</div>
      <% @heights.each do |height| %>
        <div class="signal-contents">
          <%= form.check_box :height_ids, { multiple: true }, height.id, nil %>
          <%= height.name %>
        </div>
      <% end %>
    </div>

    <div>
      <div class = "signal-headline">等信号</div>
      <% @middles.each do |middle| %>
        <div class="signal-contents">
          <%= form.check_box :middle_ids, { multiple: true }, middle.id, nil %>
          <%= middle.name %>
        </div>
      <% end %>
    </div>

    <div>
      <div class = "signal-headline">低信号</div>
      <% @lows.each do |low| %>
        <div class="signal-contents">
          <%= form.check_box :low_ids, { multiple: true }, low.id, nil %>
          <%= low.name %>
        </div>
      <% end %>
    </div>
  </div>

  <button type="submit", id="submit_btn", class = "search-contrast-btn">検索</button>
<% end %>

  <br>
<div id="search-results">
  <div class = "headline">Results:</div>
  <div id="results">
    <% search_imagings.each do |imaging| %>
      <%= imaging.site.name %><br>
      <%= link_to imaging.purpose, imaging_path(imaging, occupation_id: current_user.occupation.id) %><br><br>
    <% end %>
  </div>
</div>
  <br>
