<%= render "shared/header" %>
<h3>検索</h3>
<div class='item-contents' id="detailed-search-result-wrapper">
  <%= search_form_for @q, url: search_imagings_path, html: {id: "detailed-search-form"} do |f| %>
    <div class="search-field">
      <%= f.label :site_id_eq, '部位' %>
      <br>
      <%= f.collection_select(:site_id_eq, Site.all, :id, :name, {include_blank: "---"}) %>
    </div>
    <div class="search-field">
      <%= f.label :purpose_cont, '検査目的' %>
      <br>
      <%= f.text_field :purpose_cont, placeholder: '検査目的', value: params[:q]&.dig(:purpose_cont) %>
    </div>
    <%= f.submit '検索' %>
  <% end %>
  <ul class='item-lists' id="detailed-search-result">
    <% @imagings.each do |imaging| %>
      <li class='list'>
        <div class="posted-content">
          <%= imaging.site.name%><br>
          <%= link_to imaging.purpose, imaging_path(imaging, occupation_id: @occupation.id )%><br><br>
        </div>
      </li>
    <% end %>
  </ul>
  <% if @imagings.size == 0 %>
    <h3>その撮影はまだ登録されていません<br>

    <% if current_user.occupation.present? %>
      <%= link_to '新規登録', new_imaging_path(q: @q) %>
    <% end %>
  <% end %>
</div>