<%= render "shared/header" %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
    <%= link_to "#{@imaging.site.name} #{@imaging.purpose}", edit_imaging_path %>
    </h2>
    <div class="item-price-box">
      <span class="item-postage">
        <%= "　　　主な症状：#{@imaging.symptoms}" %><br>
      </span>
      <span class="item-postage">
        <%= "　　主な治療法：#{@imaging.treatment}" %><br>
      </span>
      <span class="item-postage">
        <%= "撮像のポイント：#{@imaging.indentification}" %><br>
      </span>
    </div>
  </div>
</div>

<% if current_user.id == 1 %>
  <%= link_to '削除', imaging_path, method: :delete %>
<% end %>
<br>

<%= render "imaging" %><br>
<% if current_user.occupation.present? %>

  <div class="main">
    <div class="inner">
      <div class="form__wrapper">
        <%= render 'conditions/condition' %>
      </div>
    </div>
  </div>

<% end %>
<br>

<% @occupations.each do |occupation| %>
  <%= link_to occupation.name, occupation_path(occupation) %>
<% end %>


<%= link_to '戻る', search_imagings_path%>
<br>
<br>
