<%= @occupation.name %>
<div class="imaging-all">
  <div class="imaging-main">
    <div class="headline">
      検査目的
    </div>
      <%= link_to "#{@imaging.site.name} #{@imaging.purpose}", edit_imaging_path(@imaging) %>
    <div class="imaging-table">
      <div class="imaging-headline">
        <table border = "2" bordercolor = "#f0e4e4" >
          <tr>
            <td>主な症状</td>
            <td><%= @imaging.symptoms %></td>
          </tr>
          <tr>
            <td>主な治療法</td>
            <td><%= @imaging.treatment %></td>
          </tr>
          <tr>
            <td>画像所見</td>
            <td><%= @imaging.indentification %></td>
          </tr>
        </table>
        <br>
        <table border = "2" bordercolor = "#f0e4e4" >
          <tr>
            <td class = "signal-table">高信号</td>
            <% @imaging.heights.each do |height| %>
              <td class = "signal-table"><%= height.name %></td>
            <% end %>
          </tr>
          <tr>
            <td class = "signal-table">低信号</td>
            <% @imaging.lows.each do |low| %>
              <td class = "signal-table"><%= low.name %></td>
            <% end %>
          </tr>
        </table>
      </div>

      <% if current_user.id == 1 %>
        <%= link_to '削除', imaging_path, method: :delete %>
      <% end %>
      <br>
    </div>
  </div>
  <div class = "condition-register">
  <br>
    <div class="side-headline">
    撮影法の登録
    </div>
    <% if current_user.occupation.present? %>
    <div class="condition-form">
      <%= render 'conditions/condition', occupation: @occupation %>
    </div>
    <% else %>
      <br>
      所属施設の登録が<br>必要です<br><br>
      <div class="side-registration">
      <%= link_to '所属施設登録', occupations_path, class: "registration-text" %>
      </div>
    <% end %>
  </div>


<div class = "condition-table">
  <% if @occupation == current_user.occupation %>
    <%= render "checkbox" %><br>
  <% else %>
    <%= render "other" %><br>
  <% end %>

  <div class="headline">
  他施設の撮影法を見る
  </div>

  <% if current_user.occupation.present? %>
    <% @occupations.where.not(id: [current_user.occupation.id, @occupation.id]).each do |occupation| %>
      <%= link_to occupation.name, imaging_path(@imaging, occupation_id: occupation.id) %>
    <% end %>
  <% else %>
    <% @occupations.where.not(id:  @occupation.id).each do |occupation| %>
      <%= link_to occupation.name, imaging_path(@imaging, occupation_id: occupation.id) %>
    <% end %>
  <% end %>
  <br>
  <br>

  <% if current_user.occupation.present? && @occupation != current_user.occupation %>
    <%= link_to '自施設の撮影法', imaging_path(@imaging, occupation_id: current_user.occupation.id)%>
  <% end %>
</div>

  <div class="headline">
  施設検索
  </div>
  <%= render "occupations/search_form" %><br>
</div>