
<%= @occupation.name %>

<%= render "shared/header" %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
    <%= link_to "#{@imaging.site.name} #{@imaging.purpose}", edit_imaging_path %>
    </h2>
    <div class="item-price-box">
      <table border = "1" bordercolor = "#32495f" >
        <tr>
          <th>主な症状</th>
          <td><%= @imaging.symptoms %></td>
        </tr>
        <tr>
          <th>主な治療法</th>
          <td><%= @imaging.treatment %></td>
        </tr>
        <tr>
          <th>撮像のポイント</th>
          <td><%= @imaging.indentification %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<% if current_user.id == 1 %>
  <%= link_to '削除', imaging_path, method: :delete %>
<% end %>
<br>
<% if @occupation == current_user.occupation %>
  <%= render "checkbox" %>
<% else %>
  <%= render "imaging" %>
<% end %>
<% if current_user.occupation == @occupation %>

  <div class="main">
    <div class="inner">
      <div class="form__wrapper">
        <%= render 'conditions/condition', occupation: @occupation %>
      </div>
    </div>
  </div>

<% end %>
<br>

<% @occupations.each do |occupation| %>
  <%= link_to occupation.name, imaging_path(@imaging, occupation_id: occupation.id) %>
<% end %>


<%= link_to '戻る', search_imagings_path%>
<br>
<br>
