<div class="contents-all">
<%= form_with model: @occupation, class: 'registration-main', local: true do |f| %>
<%= render 'shared/error_messages', model: f.object %>

<div class='form-wrap'>
  <div class='form-header'>
    <div class='headline'>
      所属施設情報の編集
    </div>
  </div>

  <%= render 'shared/error_messages', model: f.object %>

<p>所属施設</p>
  <div class="form-group">
    <div class='form-text-wrap'>
          <label class="form-text">郵便番号</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :post_code, class:"input-default", id:"post-code", placeholder:"例）123-4567", maxlength:"8" %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">都道府県</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:prefecture1_id, Prefecture1.all, :id, :name, {include_blank: "---"}, {class:"select-box", id:"prefecture"}) %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">施設名</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :name, class:"input-default", id:"occupation-name", maxlength:"40" %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
          <label class="form-text">電話番号</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :phone_number, class:"input-default", id:"phone-number", placeholder:"例）0123456789", maxlength:"11" %>
  </div>

  <div class='register-btn'>
    <%= f.submit "編集" , class: "registration-text" %>
  </div>
</div>
<% end %>

</div>