<div class="contents-all">

<div class = "headline">施設名</div>
<div>
  <%= @occupation.name%>
</div>

      <% if current_user.occupation.nil? %>
        <% if current_user.occupation_memberships.exists?(occupation_id: @occupation.id) %>
          <% membership = current_user.occupation_memberships.find_by(occupation_id: @occupation.id) %>
          
    <% if membership.status == "rejected" %>
      <p>申請が拒否されました</p>
      <% membership.update(status: "pending") %> <!-- 状態を "pending" に戻す -->
    <% end %>
    
    <div class="side-registration">
      <% if current_user.occupation_memberships.where(occupation_id: @occupation.id, status: "pending").exists? %>
        <%= link_to '申請を取り消す', occupation_occupation_membership_path(membership), method: :delete, data: { confirm: '本当に申請を取り消しますか？' }, class: "registration-text" %>
      <% else %>
        <%= link_to '申請する', occupation_occupation_memberships_path(user_id: current_user.id, occupation_id: @occupation.id), method: :post, class: "registration-text" %>
      <% end %>
    </div>
  <% else %>
    <div class="side-registration">
      <%= link_to '申請する', occupation_occupation_memberships_path(user_id: current_user.id, occupation_id: @occupation.id), method: :post, class: "registration-text" %>
    </div>
  <% end %>
<% elsif @occupation.occupation_memberships.exists?(occupation_id: @occupation.id, status: "pending") %>
  <%= link_to '申請があります', occupation_occupation_memberships_path(occupation_id: @occupation.id), class: "registration-text" %>
<% end %>

      <% if flash[:success] %>
        <div class="flash-message flash-success">
          <%= flash[:success] %>
        </div>
      <% elsif flash[:error] %>
        <div class="flash-message flash-error">
          <%= flash[:error] %>
        </div>
      <% end %>

<div class='nav'>
<% if current_user.occupation == @occupation %>
  <ul class='lists-right'>
    <li><%= link_to '編集', edit_occupation_path(@occupation), class: "occupation-edit" %></li>
    <li><%= link_to '削除', occupation_path(@occupation), method: :delete, class: "occupation-edit", data: { confirm: '本当に削除しますか？' } %></li>
  </ul>
<% end %>
</div>

<div class = "headline">
  使用機器
</div>

<% if @occupation.machines.present? %>
  <table>
    <thead>
      <tr>
        <th>メーカー</th>
        <th>磁場強度</th>
        <th>装置名</th>
      </tr>
    </thead>
    <tbody>
      <% @occupation.machines.each do |machine| %>
        <tr>              
          <td><%= machine.manufacturer.name %></td><br>
          <td><%= machine.strength.name %></td><br>
          <td><%= link_to machine.name, occupation_machine_path(machine, occupation_id: @occupation.id) %></td><br><br>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <% if @occupation == current_user.occupation %>
    <%= link_to "使用機器の追加", new_occupation_machine_path(occupation_id: @occupation.id) %>
  <% end %>
  <% else %>
  未登録
  <% if @occupation == current_user.occupation %>
    <%= link_to "新規登録", new_occupation_machine_path(@machine, occupation_id: @occupation.id) %>
  <% end %>
<% end %>

<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <div class = "headline">
      <% if @occupation.users.present? %>
        <%= "#{@occupation.name}のメンバー"%>
      </div>
        <% @occupation.users.each do |user| %>
        <div>
          <%= link_to user.nickname, user_path(user) %>
        </div>
      <% end %>

        <% else %>
        <p>所属しているユーザーがいません</p>
      <% end %>

      <% if current_user.occupation == @occupation %>
        <%= link_to '脱退する', leave_occupation_path(@occupation), method: :delete, data: { confirm: '本当に脱退しますか？' }, class: "registration-text" %>
      <% end %>

        <table>
      <div class = "headline">
        登録している撮影法
      </div>
            <% if @occupation.conditions.present? %>
            <tr>
              <th>部位</th>
              <th>検査目的</th>
            </tr>
              <% @imgs.each do |imaging| %>
                <tr>              
                  <td><%= imaging.site.name %></td><br>
                  <td><%= link_to imaging.purpose, imaging_path(imaging, occupation_id: @occupation.id) %></td><br><br>
                </tr>
              <% end %>
            <% else %>
              <p>撮影条件の登録はありません</p>
            <% end %>
        </table>
      </div>
    </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<% if current_user.id == 1 %>
  <ul class='lists-right'>
    <li><%= link_to 'この施設を削除', occupation_path(@occupation), method: :delete, class: "occupation-edit", data: { confirm: '本当に削除しますか？' } %></li>
  </ul>
<% end %>