<%= render "shared/header" %>

<h2>
  <%= @occupation.name%>
</h2>
<div class='nav'>
<% if current_user.occupation == @occupation %>
  <ul class='lists-right'>
    <li><%= link_to '編集', edit_occupation_path(@occupation), class: "occupation-edit" %></li>
    <li><%= link_to '削除', occupation_path(@occupation), method: :delete, class: "occupation-edit", data: { confirm: '本当に削除しますか？' } %></li>
  </ul>
<% end %>
</div>

<h2>
  使用機器
</h2>

<% if @occupation.machines.present? %>
  <table>
    <thead>
      <tr>
        <th>メーカー</th>
        <th>磁場強度</th>
        <th>装置名</th>
      </tr>
    </thead>
    <tbody>
      <% @occupation.machines.each do |machine| %>
        <tr>              
          <td><%= machine.manufacturer.name %></td><br>
          <td><%= machine.strength.name %></td><br>
          <td><%= link_to machine.name, occupation_machine_path(machine, occupation_id: @occupation.id) %></td><br><br>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <% if @occupation == current_user.occupation %>
    <%= link_to "使用機器の追加", new_occupation_machine_path(@machine, occupation_id: @occupation.id) %>
  <% end %>
  <% else %>
  <% if @occupation == current_user.occupation %>
    <%= link_to "新規登録", new_occupation_machine_path(@machine, occupation_id: @occupation.id) %>
  <% end %>
<% end %>

<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
      <% if @occupation.users.present? %>
        <%= "#{@occupation.name}のメンバー"%>
      </h2>
        <% @occupation.users.each do |user| %>
        <div>
          <%= link_to user.nickname, user_path(user) %>
        </div>
      <% end %>
        <% else %>
        <p>所属しているユーザーがいません</p>
      <% end %>
        <table>
          <thead>
            <tr>
              <th>部位</th>
              <th>検査目的</th>
            </tr>
          </thead>
          <tbody>
            <% if @occupation.conditions.present? %>
              <% @imagings.each do |imaging| %>
                <tr>              
                  <td><%= imaging.site.name %></td><br>
                  <td><%= link_to imaging.purpose, imaging_path(imaging, occupation_id: @occupation.id) %></td><br><br>
                </tr>
              <% end %>
            <% else %>
              <p>撮影条件の登録はありません</p>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <%= link_to 'TOPページ', root_path %>
</div>