
<h3>検索ページ</h3>
<h3><%= link_to 'トップページへ戻る', root_path%></h3>
<div class='item-contents' id="detailed-search-result-wrapper">
  <%= search_form_for @q, url: search_cases_path, html: {id: "detailed-search-form"} do |f| %>
    <div class="search-field">
      <%= f.label :site_id_eq, '部位' %>
      <br>
      <%= f.collection_select(:site_id_eq, Site.all, :id, :name, {include_blank: "---"}) %>
    </div>
    <div class="search-field">
      <%= f.label :purpose, '検査目的' %>
      <br>
      <%= f.text_field :purpose, placeholder: '検査目的', value: params[:q]&.dig(:purpose) %>
    </div>
    <div class="search-field">
      <%= f.label :user_manufacturer_id_eq, '装置メーカー' %>
      <br>
      <%= f.collection_select(:user_manufacturer_id_eq, Manufacturer.all, :id, :name, {include_blank: "---"}) %>
    </div>
    <%= f.submit '検索' %>
  <% end %>
  <ul class='item-lists' id="detailed-search-result">
    <% @cases.each do |case| %>
      <li class='list'>
        <div class="posted-content">
          <%= image_tag item.image %><br>
          <%= case.purpose %><br>
          <%= link_to '詳細', item_path(item.id)%>
        </div>
      </li>
    <% end %>
  </ul>
</div>