<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんの情報"%>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">名前</th>
            <td class="table__col2"><%= @user.nickname %></td>
          </tr>
          <tr>
            <th class="table__col1">都道府県</th>
            <td class="table__col2"><%= @user.prefecture2.name %></td>
          </tr>
          <tr>
            <th class="table__col1">所属施設</th>
            <td class="table__col2"><%= link_to @user.occupation.name,  occupation_path(@user.occupation.id)%></td>
          </tr>
        </tbody>
      </table>
      <h2 class="page-heading">
        <%= "一覧"%>
      </h2>
      <div class="user__card">

      </div>
    </div>
  </div>
  <% if @user == current_user %>
    <div class='nav'>
      <ul class='lists-right'>
        <li><%= link_to '編集', edit_user_registration_path(id: current_user.id), class: "user-edit" %></li>
        <li><%= link_to 'ユーザー削除', user_registration_path, method: :delete, data: {confirm: "削除しますか？"}, class: "user-delete" %></li>
      </ul>
    </div>
  <% end %>
  <%= link_to 'TOPページ', root_path %>
</div>