<div class="contents-all">
<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <div class="headline">
        <%= "#{@user.nickname}さんの情報"%>
      </div>
      <table border = "1" bordercolor = "#f0e4e4" class="table">
        <tbody>
          <tr>
            <td class="signal-table">名前</td>
            <td class="signal-table"><%= @user.nickname %></td>
          </tr>
          <tr>
            <td class="signal-table">都道府県</td>
            <td class="signal-table"><%= @user.prefecture2.name %></td>
          </tr>
          <% if @user.occupation.present? %>
            <tr>
              <td class="signal-table">所属施設</td>
              <td class="signal-table"><%= link_to @user.occupation.name,  occupation_path(@user.occupation.id)%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <div class="headline">
        <%= "一覧"%>
      </div>
      <div class="user__card">

      </div>
    </div>
  </div>
  <% if @user == current_user %>
    <div class='nav'>
      <div class="side-registration">
        <%= link_to '編集', edit_user_registration_path(id: current_user.id), class: "registration-text" %><br>
      </div>
      <div class="side-registration">
        <%= link_to 'ユーザー削除', user_registration_path, method: :delete, data: {confirm: "削除しますか？"}, class: "registration-text" %>
      </div>
    </div>
  <% end %>
</div>
</div>