
<div class="header_name">
  <div class='item-contents' id="detailed-search-result-wrapper">
    <br>
    <% unless devise_controller? || (controller_name == 'occupations' && (action_name == 'index' || action_name == 'search')) || (controller_name == 'imagings' && action_name == 'search') || (action_name == 'new' || action_name == 'edit') || controller_name == 'contacts' %>
    <script>
      const occupationId = <%= @occupation&.id || current_user&.occupation&.id || '' %>;
    </script>

      <div class="side-headline">検索</div>
      <%= search_form_for @q, url: imagings_path, remote: true, html: { id: "detailed-search-form" } do |f| %>
        <div class="search-field">
          <%= f.label :site_id_eq, '部位' %>
          <br>
          <%= f.collection_select(:site_id_eq, Site.all, :id, :name, { include_blank: "---" }, class: "search-site", id: "search-site") %>
        </div>
        <br>
        <div class="search-field">
          <%= f.label :purpose_cont, '検査目的' %>
          <br>
          <%= f.text_field :purpose_cont, placeholder: '', value: params[:q]&.dig(:purpose_cont), class: "search-purpose", id: "search-purpose" %>
        </div>
        <br>
        <%= f.submit '検索', class: "search-button1" %>
      <% end %>

      <ul class='item-lists' id="detailed-search-result" data-occupation-id="<%= @occupation.id %>">
        <% @imagings.each do |imaging| %>
          <li class='list'>
            <div class="posted-content">
              <%= imaging.site.name %><br>
              <% if current_user.occupation.present? %>
                <%= link_to imaging.purpose, imaging_path(imaging, occupation_id: current_user.occupation.id), class: "search-result" %><br><br>
              <% else %>
                <%= link_to imaging.purpose, imaging_path(imaging), class: "search-result" %><br><br>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>

      <div class="side-register">
        <% if current_user.occupation.present? %>
          <div class="side-registration">
            <%= link_to '新規登録', new_imaging_path(q: @q), id: "imaging-register", class: "registration-text" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
