詳細<br>

    <div class="item-price-box">
      <table border = "1" bordercolor = "#f0e4e4" >
        <tr>
          <td>メーカー</td>
          <td><%= @machine.manufacturer.name %></td>
        </tr>
        <tr>
          <td>静磁場強度</td>
          <td><%= @machine.strength.name %></td>
        </tr>
        <tr>
          <td>装置名</td>
          <td><%= @machine.name %></td>
        </tr>
      </table>
    </div>
<% if @occupation = current_user.occupation %>
  
<%= link_to "編集", edit_occupation_machine_path(@occupation) %>

<%= link_to "削除", occupation_machine_path(occupation_id: @occupation.id, id: @machine.id), method: :delete %>

<% end %>
<%= link_to '戻る', occupation_path(@occupation)%>